<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="io.sarl.lang.ui.extraGenerators">
      <extraGenerator
            configuration="io.sarl.aspectjgenerator.AJExecutableExtensionFactory:io.sarl.aspectjgenerator.AJOutputConfigurationProvider"
            generator="io.sarl.aspectjgenerator.AJExecutableExtensionFactory:io.sarl.aspectjgenerator.generator.AJGeneratorProvider"
            validator="io.sarl.aspectjgenerator.AJExecutableExtensionFactory:io.sarl.aspectjgenerator.validator.AJValidatorProvider"
            preferences="io.sarl.aspectjgenerator.AJExecutableExtensionFactory:io.sarl.aspectjgenerator.validator.AJPreferenceInitializer">
      </extraGenerator>
   </extension>

	 <extension
	       point="org.eclipse.ui.preferencePages">
	    <page
	          category="io.sarl.lang.SARL.compiler.preferencePage"
	          class="io.sarl.aspectjgenerator.AJExecutableExtensionFactory:io.sarl.aspectjgenerator.ui.PropertyPage"
	          id="io.sarl.pythongenerator.eclipse.preferencePage"
	          name="%preference.page">
	    </page>
	 </extension>
	 <extension
	       point="org.eclipse.ui.propertyPages">
	    <page
           category="io.sarl.lang.SARL.compiler.propertyPage"
           class="io.sarl.aspectjgenerator.AJExecutableExtensionFactory:io.sarl.lang.scl.ui.PropertyPage"
           id="io.sarl.lang.scl.eclipse.propertyPage"
           name="%preference.page">
	        <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="io.sarl.eclipse.SARLProjectNature"/>
	    </page>
	 </extension>
</plugin>
